<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="addr" class="in.sp.beans.Address">
        	<property name="houseno" value="100" />
        	<property name="street" value="MG Road" />
        	<property name="city" value="Chandigarh" />
        	<property name="pincode" value="123123" />
        </bean>
        
        <bean id="student" class="in.sp.beans.Student" >
        	<property name="name" value="Deepak" />
        	<property name="rollno" value="101" />
        	<property name="marks" value="87.5" />
        	<property name="address" ref="addr" />
        	
        	<!-- <property name="address">
        		<ref bean="addr" />
        	</property> -->
        	
        </bean>
           
</beans>